<div class="m-2">
  <ul class="pl-5 list-disc">
    <li>
      <a
        href="{{root_path}}/login"
        class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
      >
        Login
      </a>
    </li>
    <li>
      <a
        href="{{root_path}}/login/github"
        class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
      >
        Login with GitHub
      </a>
    </li>
    <li>
      <a
        href="{{root_path}}/login/google"
        class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
      >
        Login with Google
      </a>
    </li>
    <li>
      <a
        href="{{root_path}}/login/microsoft"
        class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
      >
        Login with Microsoft
      </a>
    </li>
    <li>
      <a
        href="{{root_path}}/user/profile"
        class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
      >
        Profile
      </a>
    </li>
    <li>
      <a
        href="{{root_path}}/docs"
        class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
      >
        Swagger UI
      </a>
    </li>
    <li>
      <a
        href="{{root_path}}/redoc"
        class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
      >
        ReDoc
      </a>
    </li>
    <li>
      <a
        href="{{root_path}}/openapi.json"
        class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
      >
        OpenAPI
      </a>
    </li>
    <li>
      <a
        href="{{root_path}}/dropzone"
        class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
      >
        Dropzone Upload
      </a>
    </li>
    <li>
      <a
        href="{{root_path}}/htmx-upload"
        class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
      >
        HTMX Upload
      </a>
    </li>
  </ul>
</div>
