<div class="m-2">
  <ul class="pl-5 list-disc">
    <li>
      <a
        href="{{root_path}}/auth/login"
        class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
      >
        Login
      </a>
    </li>
    <li>
      <a
        href="{{root_path}}/user/profile"
        class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
      >
        Profile
      </a>
    </li>
    <li>
      <a
        href="{{root_path}}/docs"
        class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
      >
        Swagger UI
      </a>
    </li>
    <li>
      <a
        href="{{root_path}}/redoc"
        class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
      >
        ReDoc
      </a>
    </li>
    <li>
      <a
        href="{{root_path}}/openapi.json"
        class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
      >
        OpenAPI
      </a>
    </li>
  </ul>
</div>
