<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/meta.html' %}
    <script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
    <link
      href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css"
      rel="stylesheet"
      type="text/css"
    />
    <title>Upload</title>
  </head>
  <body>
    <div class="m-2">
      <form
        class="dropzone"
        id="dropzone-form"
        method="POST"
        action="{{root_path}}/files/upload"
        enctype="multipart/form-data"
      ></form>
    </div>
    <script>
      Dropzone.discover();
      Dropzone.options.dropzoneForm = {
        paramName: "file_uploads",
      };
    </script>
  </body>
</html>
